[Unit]
Description=KioskBook Screensaver Activation Timer
Requires=kioskbook-screensaver-on.service

[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=timers.target
