[Unit]
Description=KioskBook Screensaver Deactivation
After=lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kioskbook-screensaver-off
User=kiosk
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
