[Unit]
Description=KioskBook Screensaver Activation
After=lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kioskbook-screensaver-on
User=kiosk
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
